* {
  font-family: monospace;
}

i, b {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

h1, h2 {
  text-transform: capitalize;
}

.measure {
  display: flex;
  &:nth-child(2n){
    background-color: whitesmoke;
  }
}

i, b {
  display: flex;
  width: 2rem;

  &.phrase {
    border-left: 1px black solid;
    padding-left: 2px;
    width: 7rem;

    &.pickup {
      justify-content: space-between;
      i:last-child, b:last-child {
        flex: 0.2 1 auto;
      }
    }

    &.half i, &.half b {
      margin-right: 2em;
    }
  }

}
